/* src/components/Footer.css */

.footer {
    background-color: #020617;
    /* Casi negro */
    color: #64748b;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer__container p {
    margin: 0.2rem 0;
}

.footer__author {
    color: #06b6d4;
    /* Color Neon Base */
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 600;
    text-shadow: 0 0 2px rgba(6, 182, 212, 0.5);
}

.footer__author:hover {
    color: #ffffff;
    /* Blanco Fluor */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}